<p i18n>创建数据流：</p>
<br>
<ul>
    <li i18n>单值：of, empty, never</li>
    <li i18n>多值：from</li>
    <li i18n>定时：interval, timer</li>
    <li i18n>从事件创建：fromEvent</li>
    <li i18n>从Promise创建：fromPromise</li>
    <li i18n>自定义创建：create</li>
</ul>
<br>
<p i18n>转换操作：</p>
<br>
<ul>
    <li i18n>改变数据形态：map, mapTo, pluck</li>
    <li i18n>过滤一些值：filter, skip, first, last, take</li>
    <li i18n>时间轴上的操作：delay, timeout, throttle, debounce, audit, bufferTime</li>
    <li i18n>累加：reduce, scan</li>
    <li i18n>异常处理：throw, catch, retry, finally</li>
    <li i18n>条件执行：takeUntil, delayWhen, retryWhen, subscribeOn, ObserveOn</li>
    <li i18n>转接：switch</li>
</ul>
<br>
<p i18n>组合数据流：</p>
<br>
<ul>
    <li i18n>concat，保持原来的序列顺序连接两个数据流</li>
    <li i18n>merge，合并序列</li>
    <li i18n>race，预设条件为其中一个数据流完成</li>
    <li i18n>forkJoin，预设条件为所有数据流都完成</li>
    <li i18n>zip，取各来源数据流最后一个值合并为对象</li>
    <li i18n>combineLatest，取各来源数据流最后一个值合并为数组</li>
</ul>
<h4 i18n>
    操作符演示
</h4>
<div class="jieliufa">
    <p i18n class="bt">Rxjs节流阀操作符演示：</p>
    <div class="show">
        <span i18n>每次点击 + 1，3秒只能点一次！</span>
        <button i18n class="clickSum">点击</button>
        <span i18n class="zs">展示：{{ sum }}</span>
    </div>
    <pre i18n>
        {{ jlfCode }}
        其他操作符：filter , delay , debounceTime , take , takeUntil , distinct,
        distinctUntilChanged 等等。
    </pre>
</div>

<div class="map">
    <p i18n class="bt">Rxjs Map 操作符演示：</p>
    <div class="show">
        <span i18n>点击获取鼠标坐标</span>
        <button i18n class="clickMap">点击</button>
        <span i18n class="zs">展示：{{ clientX }}</span>
    </div>
    <pre i18n>
        {{ mapCode }}
        其他操作符：pluck , pairwise , sample 等等。
    </pre>
</div>